footer(class=`${$pageRootClassName}__section`)
    div.footer
        div(class=`${$pageRootClassName}__layout`)
            div.footer__body
                aside.footer__nav
                    ul.footer__menu
                        for $contact in $aside
                            li.footer__item
                                a.footer__link(id=$contact.id ? $contact.id : null, href=$contact.link ? $contact.link : null, target=$contact.link ? "_blank" : null)= $contact.label
