header(class=`${$pageRootClassName}__section`)
    div.header
        div(class=`${$pageRootClassName}__layout`)
            div.header__body
                h1.header__title
                    span.header__label Олег Новиков
