main(class=`${$pageRootClassName}__section`)
    div.main
        div(class=`${$pageRootClassName}__layout`)
            div.main__body
                p.main__paragraph Привет.
                p.main__paragraph Я full-stack разработчик (PHP/<wbr>MySQL/<wbr>HTML/<wbr>CSS/<wbr>JavaScript). Живу и работаю в городе Белгороде. Более 10 лет занимался изучением стека веб-технологий с упором на фронт-энд. Сейчас работаю в <a class="main__link" href="//motorfirst.ru" target="_blank"><del datetime="2019-07-16">motorfirst.ru</del></a> <a class="main__link" href="//ru.ivideon.com" target="_blank">ru.ivideon.com</a>.
