- $pageRootClassName = 'page'
- $fontSrc = 'https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400|IBM+Plex+Sans:400,500,700&display=swap&subset=cyrillic'

-
    $meta = {
        robots: 'all',
        keywords: 'заказать сайт, заказать сайт в Белгороде, веб-приложения, сайты, веб-приложение в Белгороде, сайт недорого, автоматизировать бизнес, full-stack разработчик, веб-разработчик, front end разработчик, PHP программист, MySQL, HTML верстальщик, CSS, JavaScript',
        description: 'Олег Новиков | Веб-разработчик из Белгорода',
    }

- $title = 'Олег Новиков | Веб-разработчик из Белгорода'

-
    $aside = [
        {link: '//github.com/oinovikov', label: 'гитхаб'},
        {link: '//dribbble.com/olegn', label: 'дрибббл'},
        {link: '//vk.com/oinovikov', label: 'вконтакте'},
        {link: '//t.me/oinovikov', label: 'телеграм'},
        {link: '//instagram.com/oinovikov', label: 'инстаграм'},
        {link: '', label: 'имейл', id: 'jsEmail'},
        {link: '/belgorod.hh.ru/resume/933ee87aff03f4d4500039ed1f596e386e4674', label: 'резюме'},
    ]
