include _variables
include _mixins

<!DOCTYPE html>
html(class=$pageRootClassName, lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover, minimal-ui")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        for $name, $content in $meta
            meta(name=$name, content=$content)

        link(rel="stylesheet", href=$fontSrc)
        link(rel="stylesheet", href="css/common.css")

        script(src="js/common.js")

        title= $title
    body(class=`${$pageRootClassName}__body`)
        include sections/header
        include sections/main
        include sections/footer
        include blocks/counters/yandex
        include blocks/counters/google
