@require '_variables'
@require '_mixins'
@require '_functions'
@require '_extends'
@require 'global'

// base
@require 'blocks/page';
@require 'blocks/header';
@require 'blocks/main';
@require 'blocks/footer';
@require 'components/loader';
